{% extends 'base.html' %}
{% block title %} 학생리스트 {% endblock %}
{% block content %}
<script>
function del(id){

	var delmsg = confirm("정말 삭제하시겠습니까?")
	if(delmsg) {
		var URL="/school/"+id+"/remove/"; 
		location.href=URL;
	}

}
</script>
<h1><a href="/school/add/">학생추가</a> <a href="/school/sub_add/">과목추가</a></h1>
<form action="" method="get">
{% csrf_token %}
학생이름 검색 : <input type="text" name="search">
<input type="submit" value="검색하기">
</form>
{% if latest_student_list  %}
등록된 학생 수 {{ latest_student_list.count }} 명
<table border="1">
	<tr>
		<th>번 호</th>
		<th>학생 이름</th>
		<th>과목 수</th>
		<th>학생 연락처</th>
		<th>학생 나이</th>
		<th></th>
	</tr>
    {% for student in latest_student_list  %}
	<tr>
		<td>{{ student.id }}</td>
        <td><a href="/school/{{ student.id }}/detail/">{{ student.student_name }}</a></td>
		<td>{{ student.subject_set.count }}</td>
		<td>{{ student.student_tel }}</td>
		<td>{{ student.student_age }}</td>
		<td><a href="/school/{{ student.id }}/update/">[정보수정]</a> <a href="#" onclick="del('{{ student.id }}')">[학생 삭제]</a>  <a href="/school/{{ student.id }}/sub_add">[과목 등록]</a></li>
	</tr>
    {% endfor %}
    </ul>
{% else %}
    <p>학생 데이터가 없습니다.</p>
{% endif %}
{% endblock %}